name: Build VFS

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20


      - name: Install dependencies
        run: |
          npm install
          npm install path-browserify string_decoder constants-browserify terser assert vm-browserify querystring-browser http-browserify base32-encode dohjs dns-packet stream-browserify https-browserify crypto-browserify stream events

      - name: Build VFS
        run: node src/build-vfs.mjs

      - name: Commit generated file
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add dist/*.js
          git diff --cached --exit-code || git commit -m "chore: regenerate vfs.js"
          git push
